<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
			<li>
				<a ng-click="slide($event)">
					<i class="fa fa-home"></i>
					Home
					<span class="fa fa-chevron-down"></span>
				</a>
				<ul class="nav child_menu">
					<li>
						<a href="#/">Dashboard</a>
					</li>
					<li>
						<a href="#/todo">Todo</a>
					</li>
				</ul>
			</li>
			<li>
				<a ng-click="slide($event)">
					<i class="fa fa-briefcase"></i>
					Accounts
					<span class="fa fa-chevron-down"></span>
				</a>
				<ul class="nav child_menu">
					<li>
						<a href="#/account_form"><i class="fa fa-plus-circle"></i>Add Account</a>
					</li>
					<li ng-repeat="(key, value) in list | orderBy:'-group' : true | groupBy: 'group' ">
						<a ng-click="slide($event)">{{key}}<span class="fa fa-chevron-down"></span></a>
						<ul class="nav child_menu">
							<li ng-repeat="account in value | orderBy:'-Name' : true">
								<a href="#/account/{{account.Id}}">{{account.Name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>

</div>
