<div class="top_nav">
	<div class="nav_menu">
		<nav class="" role="navigation">
			<div class="nav toggle">
				<a id="menu_toggle" ng-click="toggle()">
					<i class="fa fa-bars"></i>
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<img src="images/yeoman.png" alt="">{{identity.display_name}}
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-menu dropdown-usermenu pull-right">
						<li>
							<a href="#/profile">
								Profile</a>
						</li>
					</ul>
				</li>
				<li class="user-profile" style="line-height: 32px; padding: 15px 15px 9px;">
					{{clock}}
				</li>
			</ul>
		</nav>
	</div>
</div>
