<div class="top_nav">
	<div class="nav_menu">
		<nav class="" role="navigation">
			<div class="nav toggle">
				<a id="menu_toggle" ng-click="toggle()">
					<i class="fa fa-bars"></i>
				</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li uib-dropdown>
					<a uib-dropdown-toggle class="user-profile" aria-expanded="false">
						<img src="images/yeoman.png" alt="">{{identity.display_name}}
						<span class=" fa fa-angle-down"></span>
					</a>
					<ul class="dropdown-usermenu pull-right" uib-dropdown-menu role="menu" aria-labelledby="simple-dropdown">
						<li>
							<a href="#/profile">Profile</a>
						</li>
					</ul>

				</li>
				<li class="user-profile" style="line-height: 32px; padding: 15px 15px 9px;">
					{{clock}}
				</li>
			</ul>
		</nav>
	</div>
</div>
