<div class="x_panel">
	<div class="x_title">
		<h2>Account Infos</h2>
		<ul class="nav navbar-right panel_toolbox">
			<li>
				<a class="collapse-link" id="search">
					<i class="fa fa-refresh"></i>
				</a>
			</li>
			<li>
				<a class="collapse-link" id="search" data-toggle="modal" data-target="#infoModal">
					<i class="fa fa-pencil"></i>
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<div class="" role="tabpanel" data-example-id="togglable-tabs">
			<br/>
			<div class='row'>
				<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
					<div class="">Name :
						{{account.Name}}</div>
					<div class="">Industry :
						{{account.Industry}}</div>
					<div class="">Type :
						{{account.Type}}</div>
					<div class="">Billing Address :
						{{account.BillingStreet}},
						{{account.BillingPostalCode}}
						{{account.BillingCity}},
						{{account.BillingCountry}}</div>
					<div class="">URL :
						{{account.attributes.url}}</div>
					<div class="">Phone :
						{{account.Phone}}</div>
					<div class="">Fax :
						{{account.Fax}}</div>
					<div class="">Website :
						<a href="{{account.Website}}" target="_blank">{{account.Website}}</a>
					</div>
					<div class="">Annual Revenue :
						{{account.AnnualRevenue}}</div>
					<div class="">Number Of Employees :
						{{account.NumberOfEmployees}}</div>
					<div class="">Description :
						{{account.Description}}</div>
					<div class="">Created Date :
						{{account.CreatedDate}}</div>
				</div>
				<div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 '>
					<div class="">Local Path : {{localInfo.path}}
					</div>
					<div class="">Group : {{localInfo.group}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Update Infos</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Local Path</label>
						<input ng-click="selectDirectory()" type="text" ng-model="localInfo.path" class="form-control">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Group</label>
						<input type="text" ng-model="localInfo.group" class="form-control">
					</div>
					<div class="checkbox">
						<label>
							<input ng-model="localInfo.saveNoteLocaly" type="checkbox">
							Save Note Localy
						</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" ng-click="updateLocalInfo()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
