<div id="epiceditor">
	<textarea style="display : none;" id="my-edit-area" ng-model="md"></textarea>
</div>
<script type="text/javascript">

	var MarkdownIt = require('markdown-it')()
		.use(require('markdown-it-checkbox'))
		.use(require('markdown-it-emoji'))
		.use(require('markdown-it-contents'));


	var opts = {
		container: 'epiceditor',
		textarea: 'my-edit-area',
		basePath: '../bower_components/EpicEditor/epiceditor/',
		clientSideStorage: false,
		localStorageName: 'epiceditor',
		useNativeFullscreen: true,
		parser: MarkdownIt,
		file: {
			name: 'epiceditor',
			defaultContent: '',
			autoSave: 100
		},
		theme: {
			base: '/themes/base/epiceditor.css',
			preview: '/themes/preview/github.css',
			editor: '/themes/editor/epic-dark.css'
		},
		button: {
			preview: true,
			fullscreen: true,
			bar: "auto"
		},
		focusOnLoad: false,
		shortcut: {
			modifier: 18,
			fullscreen: 70,
			preview: 80
		},
		string: {
			togglePreview: 'Toggle Preview Mode',
			toggleEdit: 'Toggle Edit Mode',
			toggleFullscreen: 'Enter Fullscreen'
		},
		autogrow: true
	};
	setTimeout(function() {
		var editor = new EpicEditor(opts).load();
	}, 200);
</script>
