<div class="">
	<div class="page-title">
		<div class="title_left">
			<h3>User Profile</h3>
		</div>

		<!-- <div class="title_right">
			<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Go!</button>
					</span>
				</div>
			</div>
		</div> -->
	</div>

	<div class="clearfix"></div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_content">

					<div class="col-md-3 col-sm-3 col-xs-12 profile_left">
						<h3>{{identity.display_name}}</h3>

						<ul class="list-unstyled user_data">
							<li>
								<i class="fa fa-map-marker user-profile-icon"></i>
								{{identity.addr_street}}, {{identity.addr_zip}}, {{identity.addr_city}}
							</li>
						</ul>

						<a class="btn btn-success" ng-click="updateIdentity()">
							<i class="fa fa-edit m-right-xs"></i>Update Profile</a>
						<br/>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-12">
						<div class="" role="tabpanel" data-example-id="togglable-tabs">
							<uib-tabset>
								<uib-tab index="0" heading="Sales Force">
									<div class="" ng-include=" 'views/profile_sf.html' "></div>
								</uib-tab>
								<uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<button type="button" name="button" ng-click="getDesc()">Get Desc</button>
